<?xml version="1.0"?>
<settings>
    <host
            host="http://localhost"
            port="5000"
            domain="null"
    />

    <email
            from="vuacheslavmironov@yandex.ru"
            user="vuacheslavmironov@yandex.ru"
            host="smtp.yandex.ru"
            password="hlwqwlnjxekopgxy"
            port="465"
    />

</settings>
